* {
    /*  reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250);
    background-image: url("./../../image/body-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(136 136 136);
}

.container {
    max-width: 1199px;
    margin: auto;
}

.floating-bubble-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.floating-bubble-2 {
    position: absolute;
    top: 387px;
    left: 0;
    z-index: 1;
}

.floating-bubble-3 {
    position: absolute;
    top: 605px;
    right: 0;
    z-index: 1;
}

/* header */


header .header-content {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

header .header-content ul {
    justify-content: center;
    display: flex;
    margin-right: 30px;
}

header .header-content ul a {
    text-decoration: none;
    margin-right: 20px;
    padding: 8px;
    color: #222222;
    font-weight: 400;
    position: relative;
}

header .header-content ul a:hover {
    color: #FF6B00;
    cursor: pointer;
}

header .header-content ul a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
    transition: all 0.5s;
}

header .header-content ul a.active::after {
    width: 100%;
}

header .header-content button a {
    text-decoration: none;
    color: #222222;
    font-weight: 550;
    position: relative;
}

.btn-white {
    color: #fff;
    margin: 10px;
    padding: 15px 45px;
    border-radius: 50px;
    outline: none;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    text-align: center;
    background-size: 200%;
    display: block;
    transition: all 0.5s;
}

/* About */
.about {
    text-align: center;
    padding: 64px;
}

.about .about-item {}

.about .about-item ul {
    align-items: center;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 180px;
    border-radius: 35px;
    background-color: rgb(229 229 229);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about .about-item ul li {
    color: #222222;
    padding-right: 10px;
}

.about .about-item ul li a {
    text-decoration: none;
    color: #222222;

}

.about .about-item ul li a span {
    color: #FE6019;
}

.about .about-content {}

.about .about-content h1 {
    font-size: 47px;
    margin: 32px 0 20px;
    color: #222222;
}

.about .about-content .about-button {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.about .about-content .about-button .btn-pink {
    color: #fff;
    margin: 10px;
    padding: 15px 45px;
    border-radius: 30px;
    outline: none;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    cursor: pointer;
    text-align: center;
    background-size: 200%;
    display: block;
    transition: all 0.5s;
    font-size: 14px;
}

.about .about-content .about-button .btn-pink:hover {
    background-position: right;
}

.about .about-content .about-button .btn-white2 {
    color: #222222;
    margin: 10px;
    padding: 15px 45px;
    border: 1px solid;
    border-radius: 50px;
    border-color: #FE6019;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    text-align: center;
    background-size: 200%;
    display: block;
    transition: all 0.5s;
    font-size: 14px;
}
.about .about-number{
    display: flex;
    justify-content: space-around;
}