/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_banner {
        font-family: Poppins, sans-serif;
        overflow-x: hidden;
        background-image: url(../img/body-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    
}

li {
    list-style: none;
}

ul{
    align-items: center;
    margin: 0;
    padding: 0;
}